.container {
  height: 80px;
  width: 100%;
  background-color: #1c2b35;
}
.header {
  width: 80%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 140px;
  height: 40px;
}
.header a {
  text-decoration: none;
  color: aliceblue;
  margin-right: 20px;
  font: bold;
}

.header a:hover {
  color: gold;
}
